<div data-id="{{ forloop.index }}" class="card mb-3 d-none">
  <a href="{{ post.url | relative_url }}">
    <img
      class="card-img-top"
      {% if post.image %}
      src="{{ post.image | relative_url }}"
      {% else %}
      src="https://rikson.imgix.net{{ post.url | relative_url }}?txt={{ post.title }}&txt-size=32&txt-pad=36&txt-shad=5&txt-fit=max&txt-align=center,middle&blur=30&w=348&txt-color=fff"
      {% endif %}
      alt="thumbnail"
    />
  </a>
  <div class="card-body">
    <h3 class="h4 card-title">
      <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </h3>
    <div>
      {% assign date_format = "%b %-d, %Y" %}
      <time class="card-text"><i class="fa fa-calendar"></i> {{ post.date | date: date_format }}</time>
      {% assign category = post.categories | last %}
      {% for entry in site.pages %}
      {% assign category_path = 'category/' | append: category | append: '.md' %}
      {% if entry.path == category_path %}
      <p class="card-text"><i class="fa fa-folder-o"></i> <a href="{{ entry.url | relative_url }}">{{ entry.title }}</a></p>
      {% endif %}
      {% endfor %}
      <p class="card-text">{{ post.excerpt }}</p>
      <div class="text-right">
        <a class="card-link" href="{{ post.url | relative_url }}">{{ site.data.dict.read-more }} <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>
