<h2 class="text-white">About Me</h2>
<div class="row mb-2">
	<div class="col-sm-2">
		<img class="img-fluid" src="https://avatars.githubusercontent.com/u/11563968?s=200" alt="profile">
	</div>
	<div class="col-sm-10">
		<dl class="dl-inline">
			<dt>{{ site.username }}</dt>
			<dd>{{ site.description }}</dd>
		</dl>
    <a class="text-white mr-1" style="font-size: 1rem;" href="https://github.com/rikuson"><i class="fa fa-github"></i></a>
    <a class="text-white mr-1" style="font-size: 1rem;" href="https://x.com/rikson_en"><i class="fa fa-twitter"></i></a>
    <a class="text-white mr-1" style="font-size: 1rem;" href="https://www.youtube.com/@rikson_en"><i class="fa fa-youtube"></i></a>
    <a class="text-white mr-1" style="font-size: 1rem;" href="https://podcasters.spotify.com/pod/show/waotw"><i class="fa fa-podcast"></i></a>
  </div>
</div>
