<header class="navbar navbar-expand-lg navbar-dark bg-primary" role="banner">
  <a class="navbar-brand" rel="author" href="{{ site.baseurl }}/">{{ site.title | escape }}</a>
  <button class="border-0 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-search"></i>
  </button>
  <nav class="collapse navbar-collapse" id="navbarSupportedContent">{% include header_content.html %}</nav>
</header>
