:root {
  /** Set the maximum width of the link preview. */
  --link-preview-width: 100%;
  /** Set the inline padding of the card text. */
  --link-preview-padding-inline: .85em;
  /** Set the vertical padding around the card text. */
  --link-preview-padding-block: 0.5em;
  /** Round the corners of the link preview card. */
  --link-preview-corners: 0.5em;
  /** Set the maximum number of lines in the description to display. */
  --link-preview-description-lines: 3;
}
.link-preview {
  border: 1px solid #CCC;
  margin-bottom: 1rem;
  flex-direction: row-reverse;
  overflow: hidden;
  img {
    aspect-ratio: auto !important;
    max-width: 200px;
    border-radius: 0 !important;
  }
}
