.masonry-grid {
  display: flex;
  margin-left: -15px;
  width: auto;
}

.masonry-grid-column {
  padding-left: 15px;
  background-clip: padding-box;
}

.masonry-grid-column > div {
  margin-bottom: 15px;
}