<!DOCTYPE html>
<html>
  <head>{% include head.html %}</head>
  <body>
    {% include header.html %}
    <div id="contents" class="bg-light">
      <div class="container pt-4 pb-2" role="main">
        {% include breadcrumb.html %}
        {% if page.title %}
        <h1 class="border-bottom pb-3 mb-3">
        {% if page.date %}
        {% assign date_format = "%Y/%b/%-d" %}
        <time class="badge badge-pill badge-success mb-3">{{ page.date | date: date_format }}</time><br>
        {% endif %}
        {{ page.title }}
        </h1>
        {% endif %}
        <div class="text-center mb-3">
          <img
            class="img-fluid"
            {% if post.image %}
            src="{{ post.image | relative_url }}"
            {% else %}
            src="https://rikson.imgix.net{{ post.url | relative_url }}?txt={{ page.title }}&txt-size=64&txt-pad=36&txt-shad=5&txt-fit=max&txt-align=center,middle&blur=30"
            {% endif %}
            alt="thumbnail"
          />
        </div>
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
