<!DOCTYPE html>
<html>
  <head>{% include head.html %}</head>
  <body>
    {% include header.html %}
    <div id="contents" class="bg-light">
      <div class="container pt-4 pb-2" role="main">
        {% include breadcrumb.html %}
        {% if page.title %}
        <div class="border-bottom mb-3 pb-1">
          <h1>{{ page.title }}</h1>
          {% if page.date %}
          {% assign date_format = "%Y/%b/%-d" %}
          <time><i class="fa fa-calendar"></i> {{ page.date | date: date_format }}</time>
          {% endif %}
        </div>
        {% endif %}
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
