---
layout: base
---

{{ content }}
<div id="posts" class="container-fluid pt-4 pb-2">
  <article class="row">
    {% for post in site.posts %}
    <div class="col-md-6 col-lg-4 col-xl-3" style="display: none;">
      {% include card.html %}
    </div>
    {% endfor %}
  </article>
</div>
<div class="row">
  <div id="search_message" class="alert alert-dismissible alert-warning d-none">
    <h4 class="alert-heading">No Result</h4>
    <p class="mb-0">Please try changing the search keyword.</p>
  </div>
</div>
