---
layout: base
---

<div class="container pt-4 pb-2">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="text-center mb-3">
        <img
        class="img-fluid"
        {% if page.image %}
        src="{{ page.image | relative_url }}"
        {% else %}
        src="https://rikson.imgix.net{{ page.url | relative_url }}?txt={{ page.title }}&txt-size=80&txt-pad=36&txt-shad=5&txt-fit=max&txt-align=center,middle&blur=30&txt-color=fff"
        {% endif %}
        alt="thumbnail"
      />
      </div>

      {{ content }}

      <div class="clearfix mt-5">
        {% if page.previous.url %}
        <a class="float-start" href="{{ page.previous.url | relative_url }}"><i class="fa fa-arrow-left"></i> {{ page.previous.title }}</a>
        {% endif %}
        {% if page.next.url %}
        <a class="float-end" href="{{ page.next.url | relative_url }}">{{ page.next.title }} <i class="fa fa-arrow-right"></i></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
